* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  
}
/*font-family: 'Roboto', sans-serif;*/

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #f5f7fa;
  
}

.content {
	min-height: 800px;
}

/* Top navigation items */

.topnav {
  background-color: #ee2d4c;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:center;  
}

.topnav:after {
  content: "";
  display: table;
  clear: both;
}

.topnav-column0 {
  display:flex;
  float: left;
  width: 10%;
  margin: 10px;
  height: 70px;
}

.topnav-column1 {
  float: left;
  width: 80%;
  margin: 10px;
  height: 70px;
  display:flex;
  align-items:center;
  justify-content:center;
}


.topnav-column2 {
  display:table;
  float: right;
  width: 10%;
  align-items:middle;
  justify-content:center;
}

.topnav-column2-items {
  height: 70px;
  vertical-align: middle;
  align-items:center;
  display:table-cell;
  align-items:middle;
  justify-content:center;
}

.topnav-lbl {
	text-align: center;
  color: #f2f2f2;
	margin:0;
	font-size:30px;
}

.topnav-image {
	height: 25px;
  width: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main container items */

.container {
  margin: 20px;
}

/* container header item */
.container-header {
  padding:10px;
  height:60px;
  display:flex;
  align-items:center;
}

.container-header-txt {
  color: black;
  font-size:23px;
  font-weight: bold;  
}

/* Create three equal columns to upload, download and verify */
.column {
  float: left;
  width: 31%;
  padding: 10px 15px 20px 10px;
  margin-right:20px;
  margin-left:10px;
  height: 430px; /* Should be removed. Only for demonstration */
}

.column-header  {
	height: 80px;
	border-radius: 5px;
}

.column-body  {
	height: 330px;
	border-radius: 5px;
	background-color: #ffffff;
	margin-top:15px;
	padding:20px;
}

.column-input-text {
	font-size:15px;
	font-weight: bold;
}

.upload-bg {
	background-color: #ff586b;
}
.download-bg {
	background-color: #ff8d60;
}
.verify-bg {
	background-color: #0cc27e;
}

.column-header-image {
	height: 30px;
	width: 30px;
}

.column-header-table {
	height: 100%;
	width: 100%;
	margin-left:10px;
	border-collapse: collapse;
}

.column-header-top-text {
	vertical-align : sub;
	color: #ffffff;
	padding-left:15px;
	font-size: 20px;
}
.column-header-bottom-text {
	vertical-align : super;
	color: #ffffff;
	font-size: 15px;
	padding-left:15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text], select {
  width: 60%;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  width: 60%;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
  cursor: pointer;
  color:#737373;
}

.custom-file-upload-button {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;  
  margin-left: 10px;
  padding: 5px;
  min-width: 60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color:#ffffff;
  background-color: #ff586b;
}

.custom-file-upload-button:hover {
	background-color: #ee2d4c;
}

.custom-file-upload-button#custom-verify-btn {
	background-color: #0cc27e;
}

.custom-file-upload-button#custom-verify-btn:hover {
	background-color: #02965f;
}

input[type=submit] {
  width: 40%;
  color: white;
  padding: 5px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float: left;
}

input[type=submit]#upload-document {
	background-color: #ff586b;
}

input[type=submit]#download-document {
	background-color: #ff8d60;
}

input[type=submit]#request-verify {
	background-color: #0cc27e;
}

input[type=submit]#upload-document:hover  {
	background-color: #ee2d4c;
}

input[type=submit]#download-document:hover  {
	background-color: #e85c25;
}

input[type=submit]#request-verify:hover  {
	background-color: #02965f;
}


/* Block search container */
.block-search-container {
	width:99%;
    margin: 10px;
	margin-right:10px;
	height: 100px;
	padding-left:20px;
	padding-top:10px;
	background-color:white;
	box-shadow: 2px 2px #ecf0e4;
}

input[type=text].block-search-input {
  width: 15%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.block-search-input-btn {
  width: 10%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  border:0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#ff586b;
  color:white;
}
.block-search-input-btn:hover {
  background-color:#ee2d4c;
}

/* Block information container */
.block-info-container {
	width:99%;
  margin: 10px;
	margin-right:10px;
	min-height: 300px;
	padding-left:20px;
  padding-top:10px;
  padding-bottom:20px;
	background-color:white;
	box-shadow: 2px 2px #ecf0e4;
}

.block-info-container-table {
  width:70%;
  margin: 10px;
  margin-left: 50px;
  padding-left:20px;
}
.block-info-container-th, .block-info-container-td {
  margin: 10px;
  padding-left:20px;
  padding-top:10px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}


/* Style the footer */
.footer {
	width: 100%;
	margin: auto;
	padding: 5px;
	text-align: center;
	font-size: 14px;

}
/* Style the footer */
.footer-company {
  color: #ee2d4c;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

button:focus {outline:0;}
